html {
	font-family: arial;
}

body {
	margin: 0;
}

a {
	color: #D4893D;
	text-decoration: none;
	font-weight: bold;
}

header {
	background-color: #D4893D;
	padding: 10px 10%;
	text-align: right;
}

header a {
	color: #fff;
}

header h1 {
	float: left;
	margin: 0;
	font-size: 19px;
}

section {
	padding: 50px 10%;
	font-size: 20px;
}

/* Código para libros */
main {
	text-align: center;
}

#home-1 {
	background-image: url('../images/home-1.jpg');
	background-size: 100%;
}


.libro {
	background-color: #eee;
	padding: 1.5%;
	margin: 0.5%;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: inline-block;
	width: 28%;
	text-align: left;
	vertical-align: top;
}

.libro img {
	width: 100%;
	border-radius: 5px;
}

#libro-1 {
	background-color: #CFAE76;
}

#libro-2 {
	background-color: #B8D67C;
}

#libro-3 {
	background-color: #D67C7C;
}